<div class="rate">
  <div class='container'>
    <div class='row'>
      <div class='col-10'>
        <h2 class='my-5'>全予定一覧</h2>
        <table class='table'>
          <thead>
            <tr>
              <th>タイトル</th>
              <th>予定日</th>
              <th>所属部署</th>
              <th>作成者</th>
            </tr>
          </thead>
          <tbody>
            <% @schedules.each do |schedule| %>
              <tr>
                <td><%= link_to schedule_path(schedule.id) do %><%= schedule.title %><% end %></td>
                <td><%= link_to schedule_path(schedule.id) do %><%= schedule.full_day %><% end %></td>
                <td><%= link_to schedule_path(schedule.id) do %><%= schedule.end_user.department_name %><% end %></td>
                <td><%= link_to schedule_path(schedule.id) do %><%= schedule.end_user.full_name %><% end %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
      <div class="col-2">
        <% if current_end_user.full_name != "guest user" %>
          <p><%= link_to "予定を投稿",new_schedule_path,class: "btn btn-warning btn-sm mb-3 sign_in mt-5" %></p>
          <p><%= link_to "全予定一覧",schedules_path,class: "btn btn-warning btn-sm mb-3 sign_in mt-3" %></p>
        <% else %>
          <p><%= link_to "全予定一覧",schedules_path,class: "btn btn-warning btn-sm mb-3 sign_in mt-5" %></p>
        <% end %>
        <p><%= link_to "全社員一覧",user_index_path,class: "btn btn-warning btn-sm mb-3 sign_in mt-3" %></p>
      </div>
    </div>
  </div>
</div>